
<ion-header>

  <ion-navbar color="verde">
    <ion-title >Profile</ion-title>

    <!-- <button *ngIf="editMode;  else editButton" ion-button icon-only clear class="profileButton" (click)="setEditMode(false)">
      <ion-icon name="save" color="dark"></ion-icon>
    </button>

    <ng-template #editButton>
      <button ion-button icon-only clear class="profileButton" (click)="setEditMode(true)">
        <ion-icon name="create" color="dark"></ion-icon>
      </button>
    </ng-template> -->

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="userNameId">
    <ion-item padding *ngIf="editMode; else username">
      <ion-input type="text" value="{{user.nick}}" placeholder="Username"></ion-input>
    </ion-item>
    <ng-template #username>
      <span padding><strong>{{user.username}}</strong></span>
    </ng-template>
  </div>
  
  <ion-card>

    <h1 padding text-center> <strong>{{user.name}}</strong> </h1>

    <div text-center>
      <ion-img src="assets/imgs/user.jpg"></ion-img>
    </div>

    <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col col>&nbsp; &nbsp;<ion-icon name="pin"></ion-icon> &nbsp;{{location.country}}</ion-col>
            <ion-col col>{{location.city}}</ion-col>
          </ion-row>
          <br/>
          <ion-row align-items-center>
            <ion-col ></ion-col>
            <ion-col > {{location.building}}</ion-col>
            <ion-col ></ion-col>
          </ion-row>
          <br/>
          <ion-row>
              <ion-col col> &nbsp; &nbsp; Floor {{location.floor}}</ion-col>
              <ion-col col>Workplace {{location.workplace}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-title>
  </ion-card>

  
  <div padding> 
    <button *ngIf="editMode;  else normalMode" ion-button block color="gris" >
      Cancel edition
    </button>

    <ng-template #normalMode>
      <button ion-button block color="verde" >
        Add Workplace
      </button>

      <br/>

      <button ion-button block color="gris" (click) = "openModal()">
        Log out
      </button>
    </ng-template>
  </div>
  
  

</ion-content>
