page-user-profile {

    ion-img {
        width: 10em; 
        height: 10em;
    }

    #userNameId {
        float: right;
    }

    // #editButton {
    //     float: right;
    //     vertical-align: super;
    // }
}
