page-user-profile {

    ion-img {
        width: 10em; 
        height: 10em;
    }

    #userNameId {
        float: right;
    }

    .sincrear{
        color: red;
        text-align: center;
        
    }
    // #editButton {
    //     float: right;
    //     vertical-align: super;
    // }
}
