page-floor {
    .inputN {
        border: solid;
        border-radius: 5px;
        border-width: 1px;
        padding-left: 5px;
        margin-left: 1.3em;
        width: 100%;
        font-size: 1.2em;
    }

    .addButton2 {
        margin-top: -2px;
        right: 0;
        margin-left: 12%;
        margin-right: 0;
        padding-right: 0;
        
    }
}
