page-user-view {
    h1 {
        text-align: center;
    }

    ion-img {
        width: 10em; 
        height: 10em;
    }

    #userNameId {
        float: right;
    }
    // ion-navbar {
    //     .button {
    //         position: absolute;
    //         right: 0px;
    //     }
    // }
}
