<ion-header>

  <ion-navbar color="verde">
    <ion-title >Users</ion-title>
    <button ion-button icon-only clear (click)="goToProfile()" class="profileButton">
        <ion-icon name="contact" color="dark"></ion-icon>
    </button>
    <button *ngIf="rolNow == 1" ion-button color="dark" small outline class="adminButton" (click)="goToAdmin()"> Admin </button>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-searchbar (input)="searchUsers($event)"></ion-searchbar>

  <br/>

  <ion-list padding-right>
    <ion-item-divider [hidden]="true"></ion-item-divider>
    <button ion-item *ngFor="let user of users; let i = index" (click)="goToUser(user)">
      <ion-avatar item-start>
        <img src="assets/imgs/user{{i}}.jpg" alt="Imagen de {{user.name}}">
      </ion-avatar>
      <h2>{{ user.name }}</h2>
      <h3>{{user.username}}</h3>
    </button>  
    <ion-item-divider [hidden]="true"></ion-item-divider>
  </ion-list>

  <ion-spinner id="spin" name="bubbles"></ion-spinner>


  

</ion-content>
